absl-py
aiohttp
aiosignal
altair
annotated-types
antlr4-python3-runtime
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
astunparse
async-lru
async-timeout
attrs
Babel
backcall
backoff
bcrypt
beautifulsoup4
bleach
blinker
build
cachetools
certifi
cffi
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
colorama
coloredlogs
comm
contourpy
cryptography
cycler
dataclasses-json
debugpy
decorator
defusedxml
Deprecated
distro
dnspython
effdet
emoji
exceptiongroup
executing
fastapi
fastjsonschema
filelock
filetype
Flask
flatbuffers
fonttools
fqdn
frozenlist
fsspec
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
googleapis-common-protos
greenlet
grpcio
gTTS
h11
h5py
httpcore
httptools
httpx
huggingface-hub
humanfriendly
idna
importlib-metadata
importlib-resources
iopath
ipykernel
ipython
isoduration
itemadapter
itsdangerous
jax
jedi
Jinja2
joblib
json5
jsonpatch
jsonpath-python
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyter-events
jupyter-lsp
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
keras
keyboard
kiwisolver
kubernetes
langchain
langchain-community
langchain-core
langchain-openai
langdetect
langsmith
layoutparser
libclang
loguru
lxml
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mediapipe
mistune
ml-dtypes
mmh3
monotonic
MouseInfo
mpmath
multidict
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numexpr
numpy
oauthlib
omegaconf
onnx
onnxruntime
openai
openapi-schema-pydantic
opencv-contrib-python
opencv-python
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
opt-einsum
overrides
packaging
pandas
pandocfilters
parso
pdf2image
pdfminer.six
pdfplumber
pickleshare
pikepdf
Pillow
pinecone-client
pip
platformdirs
playsound
portalocker
posthog
prometheus-client
prompt-toolkit
protobuf
psutil
pulsar-client
pure-eval
pyarrow
pyasn1
pyasn1-modules
PyAutoGUI
pycocotools
pycparser
pycryptodome
pydantic
pydantic_core
pydeck
PyGetWindow
Pygments
PyMsgBox
pyparsing
pypdf
pypdfium2
pyperclip
PyPika
pyproject_hooks
pyreadline3
PyRect
PyScreeze
pytesseract
python-dateutil
python-dotenv
python-iso639
python-json-logger
python-magic
python-multipart
pytweening
pytz
pywin32
pywinpty
PyYAML
pyzmq
rapidfuzz
referencing
regex
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
scrapeops_scrapy
Send2Trash
setuptools
six
smmap
sniffio
sounddevice
soupsieve
SQLAlchemy
stack-data
starlette
streamlit
sympy
tabulate
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
terminado
threadpoolctl
tiktoken
timm
tinycss2
tld
tokenizers
toml
tomli
toolz
torch
torchvision
tornado
tqdm
traitlets
transformers
typer
types-python-dateutil
typing_extensions
typing-inspect
tzdata
tzlocal
unstructured
unstructured-client
unstructured-inference
uri-template
urllib3
uvicorn
validators
watchdog
watchfiles
wcwidth
webcolors
webencodings
websocket-client
websockets
Werkzeug
wheel
win32-setctime
wrapt
yarl
zipp
