aiohttp
altair
anyio
async-lru
async-timeout
attrs
backoff
beautifulsoup4
bleach
cachetools
certifi
cryptography
fastapi
fastjsonschema
filelock
Flask
google-auth
grpcio
httpcore
httptools
httpx
huggingface-hub
importlib-metadata
iopath
itsdangerous
Jinja2
json5
jsonpatch
jsonpath-python
jsonpointer
jsonschema
jupyterlab
langchain
langchain-community
langchain-core                         
langchain-openai
matplotlib
nest-asyncio
notebook
notebook_shim
numpy
oauthlib
omegaconf
openai
opencv-contrib-python
opencv-python
packaging
pandas
pandocfilters
parso
pdf2image
pdfminer.six
pdfplumber
Pillow
posthog
prometheus-client
pydantic
pydantic_core
pydeck
Pygments
PyYAML
rapidfuzz
requests
requests-oauthlib
rich
scikit-learn
scipy
Send2Trash
setuptools
six
sniffio
SQLAlchemy
streamlit
tabulate
tenacity
tensorboard
termcolor
threadpoolctl
tiktoken
timm
tinycss2
tokenizers
toml
toolz
torch
torchvision
tornado
tqdm
transformers
typer
types-python-dateutil
typing_extensions
typing-inspect
unstructured
validators
watchdog
webcolors
webencodings
websocket-client
websockets
Werkzeug
wheel
wrapt
yarl
